<div class="w3-top-">
  <div class="w3-bar w3-card w3-black-">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a [routerLink]="['/']" class="w3-bar-item w3-padding-large">
      <img
        src="assets/img/logo.png"
        style="width: 30px; height: 30px; padding: 0px;"
        class="w3-circle"
      />
    </a>
    <a
      [routerLink]="['/edit/editor']"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small"
      >EDITOR</a
    >
    <!-- <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-padding-large w3-button" title="More">
          MORE <i class="fa fa-caret-down"></i>
        </button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="#" class="w3-bar-item w3-button">Merchandise</a>
          <a href="#" class="w3-bar-item w3-button">Extras</a>
          <a href="#" class="w3-bar-item w3-button">Media</a>
        </div>
      </div> -->
    <a
      href="javascript:void(0)"
      onclick="openSearch()"
      class="w3-padding-large w3-hover-theme w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
    <ng-container *ngIf="(user$ | async) as user; else btnSignout">
      <a
      (click)="signOut()"
     
      class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right"
      >Log Out</a
    >
    </ng-container>
    
    <ng-template #btnSignout>
    <a
      (click)="signIn()"
      class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right"
    >
      Log In</a
    >
  </ng-template>
    <!-- <a
      href="javascript:void(0)"
      class="w3-button0 w3-dropdown-hover w3-padding-large w3-hide-small w3-right"
    >
      <img
        src="https://lh3.googleusercontent.com/ogw/ADGmqu_ScgMaCc0y9FV2t9pguVquQoykY2n4I54OA7OV=s32-c-mo"
        style="width: 30px; height: 30px; padding: 0px;"
        class="w3-circle"
      />
      <div class="w3-dropdown-content w3-border" style="width: 300px;">
        <ul class="w3-ul">
          <li>Jill</li>
          <li>Eve</li>
          <li>Adam</li>
        </ul>
      </div>
    </a> -->
  </div>
</div>
<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div
  id="navDemo"
  class="w3-bar-block w3-black- w3-hide w3-hide-large w3-hide-medium w3-top-"
>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-large">
    Log In/Out
  </a>
</div>

<!-- SEARCH BAR-->

<!--Fullscreen Search-->
<div id="myOverlay" class="overlay">
  <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
  <div class="overlay-content">
    <form>
      <input
        type="text"
        placeholder="Search.."
        name="searchText"
        [(ngModel)]="searchText"
        (input)="onSearchTextChange($event)"
      />
      <button type="button"><i class="fa fa-search"></i></button>
      <ul
        style="width: 100%; text-align: left;"
        class="w3-ul w3-card w3-white"
        *ngFor="let blog of matchedBlogs"
      >
        <li>
          <a
            class="w3-link"
            href="javascript:void(0)"
            (click)="openBlog(blog.id)"
            >{{ blog.title }}</a
          >
        </li>
      </ul>
    </form>
  </div>
</div>
