<div class="w3-top-">
  <div class="w3-bar w3-border-bottom w3-white">
    <a
      class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0)"
      onclick="myFunction()"
      title="Toggle Navigation Menu"
      ><i class="fa fa-bars"></i
    ></a>
    <a [routerLink]="['/']" class="w3-bar-item w3-padding-large">
      <img
        src="assets/img/logo.png"
        style="width: 30px; height: 24px; padding: 0px;"
        class="w3-circle"
      />
    </a>
    <a
      href="javascript:void(0)"
      onclick="openSearch()"
      class="w3-padding-large w3-hover-theme w3-hide-small w3-right"
      ><i class="fa fa-search"></i
    ></a>
    <ng-container *ngIf="(user$ | async) as user; else btnSignout">
      <div class="w3-dropdown-hover w3-right w3-hide-small w3-hover-theme">
        <button class="w3-button w3-padding-large" title="Notifications">
          <img src="https://lh3.googleusercontent.com/ogw/ADGmqu_ScgMaCc0y9FV2t9pguVquQoykY2n4I54OA7OV=s32-c-mo"
           class="w3-circle" style="height:23px;width:23px" alt="Avatar">
        <span class="w3-badge w3-right w3-small w3-theme-l3">3</span></button>     
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
          <a [routerLink]="['/edit/editor']" class="w3-bar-item w3-button"
          >New Story</a
        >
        <a [routerLink]="['/edit/cdn']" class="w3-bar-item w3-button"
          >New Story CDN</a
        >
        <a [routerLink]="['/my-stories']" class="w3-bar-item w3-button"
          >My Stories</a
        >
        <a href="javascript:void(0)" (click)="auth.signOut()" class="w3-bar-item w3-button"
          >Log Out</a
        >
        </div>
      </div>
      <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
        <img src="https://lh3.googleusercontent.com/ogw/ADGmqu_ScgMaCc0y9FV2t9pguVquQoykY2n4I54OA7OV=s32-c-mo" 
        class="w3-circle" style="height:23px;width:23px" alt="Avatar">
      </a> -->
    </ng-container>

    <ng-template #btnSignout>
      <a
        (click)="signIn()"
        class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right"
      >
        Log In</a
      >
    </ng-template>
  </div>
</div>
<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div
  id="navDemo"
  class="w3-bar-block w3-theme w3-hide w3-hide-large w3-hide-medium w3-top-"
>
  <ng-container *ngIf="user$ | async as user; else sbtnSignout">
    <a
      href="javascript:void(0)"
      (click)="signOut()"
      class="w3-bar-item w3-button w3-padding-large"
    >
      Log Out
    </a>
  </ng-container>
  <ng-template #sbtnSignout>
    <a
      href="javascript:void(0)"
      (click)="signIn()"
      class="w3-bar-item w3-button w3-padding-large"
    >
      Log In
    </a>
  </ng-template>
</div>

<!-- SEARCH BAR-->

<!--Fullscreen Search-->
<div id="myOverlay" class="overlay">
  <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
  <div class="overlay-content">
    <form>
      <input
        type="text"
        placeholder="Search.."
        name="searchText"
        [(ngModel)]="searchText"
        (input)="onSearchTextChange($event)"
      />
      <button type="button"><i class="fa fa-search"></i></button>
      <ul
        style="width: 100%; text-align: left;"
        class="w3-ul w3-card w3-white"
        *ngFor="let blog of matchedBlogs"
      >
        <li>
          <a
            class="w3-link"
            href="javascript:void(0)"
            (click)="openBlog(blog.id)"
            >{{ blog.title }}</a
          >
        </li>
      </ul>
    </form>
  </div>
</div>
