<!-- Grid -->
<div class="w3-row" *ngIf="blog != null">
  <!-- Tags -->
  <!-- <div class="w3-col w3-white w3-margin" style="display: none;">
    <div class="w3-container w3-white">
      <p>
        <span class="w3-tag w3-theme w3-margin-bottom">Fashion</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
          >New York</span
        >
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
          >London</span
        >
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Hats</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
          >Norway</span
        >
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
          >Sweaters</span
        >
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
          >Ideas</span
        >
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
          >Deals</span
        >
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
          >Accessories</span
        >
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
          >Clothing</span
        >
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
          >Shopping</span
        >
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
          >Jeans</span
        >
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
          >Trends</span
        >
      </p>
    </div>
  </div> -->

  <!-- Blog entries -->
  <div class="w3-col l8 s12">
    <!-- Blog entry -->
    <div class="w3-container w3-white w3-margin w3-padding-large">
      <div class="gw3-center">
        <h2 [title]="blog.id">{{ blog.title }}</h2>
        <p class="w3-righth">
          <span class="w3-tag w3-light-grey w3-margin-bottom">{{
            blog.category
          }}</span>
        </p>

        <!-- <h5 *ngIf="blog.subTitle" [innerHtml]="blog.subTitle"></h5> -->
      </div>

      <div class="w3-justify">
        <ng-container *ngFor="let block of blog.content.blocks">
          <h2 *ngIf="block.type == 'header'" [innerHtml]="block.data.text"></h2>
          <p
            *ngIf="block.type == 'paragraph'"
            [innerHtml]="block.data.text"
          ></p>
          <img *ngIf="block.type == 'image'" [src]="block.data.file.url"  style="width:100%" class="w3-padding-16">
        </ng-container>
        <p class="w3-clear"></p>
        <!-- Blog Actions -->
        <p class="w3-left">
          <button
            class="w3-button w3-white w3-border"
            onclick="console.log('like',this)"
          >
            <b><i class="fa fa-thumbs-up"></i> Like</b>
          </button>
        </p>
        <p class="w3-right">
          <button class="w3-button w3-theme" (click)="toggleComments()">
            <b>Comments </b>
            <span class="w3-tag w3-white">{{
              blog.comments && blog.comments.length
            }}</span>
          </button>
        </p>

        <p class="w3-clear"></p>
        <!-- Example of comment field -->
        <div *ngIf="blog.comments && showComments">
          <!--Add New Comment-->
          <div class="w3-col l2 m3">
            <img
              [src]="'https://www.w3schools.com/w3images/girl.jpg'"
              style="height: 80px;"
            />
          </div>
          <div class="w3-col l10 m9">
            <p>
              <textarea
                placeholder="Comment..."
                class="w3-input w3-border"
                style="resize: none;"
                spellcheck="false"
              ></textarea>
              <button class="w3-margin-top w3-right w3-btn w3-theme">
                SEND
              </button>
            </p>
            <br />
          </div>
          <div class="w3-row" *ngFor="let cmt of blog.comments">
            <hr />
            <div class="w3-col l2 m3">
              <img [src]="cmt.user.photoURL" style="height: 80px;" />
            </div>
            <div class="w3-col l10 m9">
              <h4>
                {{ cmt.user.name }}
                <span class="w3-opacity w3-medium"
                  >April 26, 2015, 10:52 PM</span
                >
              </h4>
              <p>
                {{ cmt.text }}
              </p>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <!-- END BLOG ENTRIES -->
  </div>

  <!-- About/Information menu -->
  <div class="w3-col l4">
    <!-- Advertising -->
    <div class="w3-white w3-margin">
      <div class="w3-container w3-theme-l5" style="display: none;">
        <h4>Contact Us</h4>
      </div>
      <div class="w3-container w3-white">
        <div
          class="w3-container w3-display-container w3-light-grey- w3-section w3-center"
        >
          <a routerLink="/contact-us">
            <img
              src="assets/img/contact-us.gif"
              style="width: 250px;"
              alt="C"
            />
          </a>
        </div>
      </div>
    </div>
    <hr />
    <!-- About/Information menu -->
    <!-- About Card -->
    <div class="w3-white w3-margin" *ngIf="blog.creator">
      <img
        [src]="blog.creator.photoURL"
        style="
          width: 80px;
          height: 80px;
        "
        class="w3-left w3-circle w3-margin-top w3-margin-left"
      />
      <div class="w3-container w3-theme-l5">

        <h4>{{ blog.creator.name }}</h4>
        <p>
          {{ blog.creator.bio }}
        </p>
      </div>
    </div>
    <hr />
    <!-- Posts -->
    <div class="w3-white w3-margin">
      <div class="w3-container w3-theme-l1">
        <h4>Popular Blogs</h4>
      </div>
      <ul class="w3-ul w3-white w3-link">
        <li class="w3-padding-16" *ngFor="let rb of relatedBlogs">
          <a [routerLink]="'/blog/' + rb.id" class="w3-link">
            <span class="w3-large">{{ rb.title }}</span></a
          >

          <br />
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"
            >Ideas</span
          >
        </li>
      </ul>
    </div>
    <hr />

    <!-- Advertising -->
    <div class="w3-white w3-margin" *ngIf="showAds">
      <div class="w3-container w3-theme-l5">
        <h4>Advertise</h4>
      </div>
      <div class="w3-container w3-white">
        <div
          class="w3-container w3-display-container w3-light-grey w3-section"
          style="height: 200px;"
        >
          <span class="w3-display-middle">Your AD Here</span>
        </div>
      </div>
    </div>
    <hr />

    <!-- Subscribe -->
    <div class="w3-white w3-margin" *ngIf="showSubscription">
      <div class="w3-container w3-theme">
        <h4>Subscribe</h4>
      </div>
      <div class="w3-container w3-white">
        <p>
          Enter your e-mail below and get notified on the latest blog posts.
        </p>
        <p>
          <input
            class="w3-input w3-border"
            type="text"
            placeholder="Enter e-mail"
            style="width: 100%;"
          />
        </p>
        <p>
          <button
            type="button"
            onclick="document.getElementById('subscribe').style.display='block'"
            class="w3-button w3-block w3-red"
          >
            Subscribe
          </button>
        </p>
      </div>
    </div>

    <!-- END About/Intro Menu -->
  </div>

  <!-- END GRID -->
</div>
